/* Global Font Imports */
@font-face {
    font-family: Regular;
    src: url(./Fonts/Moderat-Regular.ttf);
}

@font-face {
    font-family: Bold;
    src: url(./Fonts/Moderat-Bold.ttf);
}

body{
    background-color: #1C1D23;
}

body, html{
    overflow-x: hidden;
}

*{
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
    font-family: Regular;
}

#app{
    display: flex;
}

#mainContent{
    width: 100%;
    padding-left: 290px;
}

@media only screen and (max-width: 1100px) {
    #mainContent{
        padding-left: 220px;
    }
}

@media only screen and (max-width: 1000px) {
    #mainContent{
        padding-left: 65px;
    }
}

@media only screen and (max-width: 850px) {
    #mainContent{
        padding-left: 0px;
    }
}