#bartop{
    padding-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

#contentSelector{
    display: flex;
    margin-right: 10vw;
}

#seperator{
    border-left: solid rgba(255, 255, 255, 0.03) 2px;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
}

.contentOption{
    cursor:pointer;
    transition: all 0.08s;
}

.contentOption p {
    font-size: 22px;
    font-family: Bold;
    transition: all 0.08s;
}

.contentOption .activeOption {
    color: #6DD890;
}

.contentOption .nonActiveOption {
    color: rgba(255, 255, 255, 0.1);
}

#searchContainer{
    display: flex;
}

#searchIcon{
    width: 20px;
    position: relative;
    left: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(30%) contrast(103%);
}

#searchBox{
    height: 35px;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 7px;
    color: white;
    font-family: Regular;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 10px;
    transition: all 0.1s;
}

#searchBox:focus{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-content-hide {
    display: none;
}

.dropdown-content {
    display: block;
    position: absolute;
    right: 30%;
    top: 110%;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #333439;
    border-radius: 3px;
    border: 1px solid #3c3d42;
}

.userNameContainer{
    margin-bottom: 5px;
    border-bottom: 1px solid #47494e;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.userNameContainer p {
    margin-left: 10px;
    font-family: Bold;
}

.dropdownOption{
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #333439;
    cursor: pointer;
}

.dropdownOption:hover{
    background-color: #404147;
}

.dropdownOption p {
    margin-left: 10px;
}

#userContainer{
    margin-left: auto;
    padding-right: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

#userBell{
    height: 23px;
    width: 23px;
    filter: invert(68%) sepia(95%) saturate(406%) hue-rotate(359deg) brightness(104%) contrast(88%);
    margin-right: 30px;
    cursor: pointer;
}

#userImg{
    object-fit: contain;
    border-radius: 3px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 850px) {
    #userContainer{
        padding-right: 10px;
    }

    #contentSelector{
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    #contentSelector{
        margin-right: 20px;
    }

    #searchBox{
        width: 250px;
    }
}

@media only screen and (max-width: 450px) {
    #searchBox{
        width: 190px;
    }
}