#moviesContainer{
    padding-top: 30px;
    padding-right: 50px;
}

#featuredTitle{
    color: white;
    font-family: Bold;
    font-size: 23px;
    margin-bottom: 25px;
}

#featuredMoviesContainer{
    display: flex;
    width: fit-content;
}

#featuredMovie{
    min-width: 66%;
    margin-right: 25px;
}

#featuredMovieImage{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

#featuredMovieDescriptionContainer{
    position: relative;
    height: 150px;
    bottom: 150px;
    border-radius: 10px;
    background-color: #2e2f36e7;
    width: 100%;
}

#FeaturedContent{
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 35px;
    border-bottom: solid rgba(255, 255, 255, 0.03) 4px;
}

#featuredMovieTitle{
    font-size: 25px;
    color: white;
    font-weight: Bold;
    margin-right: 150px;
}

#feauturedMovieMetricsContainer{
    display: flex;
    align-items: center;
}

#featuredSeperator{
    border-left: solid rgba(255, 255, 255, 0.03) 2px;
    margin-left: 15px;
    margin-right: 15px;
    height: 25px;
}

#featuredStarIcon{
    height: 15px;
    filter: invert(68%) sepia(95%) saturate(406%) hue-rotate(359deg) brightness(104%) contrast(88%);
    margin-right: 10px;
}

#bottomDescription{
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50%;
}

#FeaturedMovieDescription{
    width: 450px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.199);
}

#featuredLikeButton{
    width: fit-content;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: auto;
}

#featuredLikeButton img {
    width: 20px;
    height: 20px;
}

#featuredWatchButton{
    width: fit-content;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
}

#featuredWatchButton img {
    width: 20px;
    height: 20px;
    filter: invert(97%) sepia(44%) saturate(1276%) hue-rotate(62deg) brightness(90%) contrast(85%);

}

#featuredWatchButton p {
    margin-right: 10px;
    color: white;
}

#featuredLikeButton img {
    filter: invert(17%) sepia(8%) saturate(711%) hue-rotate(195deg) brightness(91%) contrast(92%);
}

#featuredLikeButton, #featuredWatchButton{
    transition: all 0.2s ease;
}

#featuredLikeButton:hover, #featuredWatchButton:hover{
    background-color: rgba(255, 255, 255, 0.12);
}

#sideFeaturedMovies{
    width: fit-content;
    height: fit-content;
}

.sideFeaturedMovieImg{
    margin-bottom: 20px;
    object-fit: cover;
    width: 97.9%;
    border-radius: 10px;
}

@media only screen and (max-width: 850px){
    #moviesContainer{
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 1400px) {
    #featuredMoviesContainer{
        display: block;
    }

    #featuredMovie{
        margin-right: 0;
    }

    .sideFeaturedMovieImg{
        width: 49%;
    }

    .sideFeaturedMovieImg{
        margin-right: 20px;
    }

    #sideFeaturedMovies{
        margin-top: -120px;
        display: flex;
    }
}